<?xml version="1.0"?>
<!-- This is a sample lanuch file, please change it based on your needs -->

<launch>
  <arg name="drone-ip" 			default="10.0.0.10" />
  <arg name="nspace" 			default="quadrotor1" />
  <arg name="vicon_Topic_name"	default="/vicon/$(arg nspace)/$(arg nspace)" />
  <group ns="$(arg nspace)">
	<!-- IPv4 address of your drone -->
	<arg name="ip" value="$(arg drone-ip)" />
	<!-- Ultrasound frequency (7 or 8). -->
	<arg name="freq" default="8" />
    <node name="ardrone_driver" pkg="ardrone_autonomy" type="ardrone_driver"
        output="screen" clear_params="true" args="-ip $(arg ip)">
        <param name="outdoor" value="0" />
        <param name="max_bitrate" value="4000" />
        <param name="bitrate" value="4000" />
        <param name="navdata_demo" value="0" />
        <param name="flight_without_shell" value="0" />
        <param name="altitude_max" value="4000" />
        <param name="altitude_min" value="700" />
        <param name="euler_angle_max" value="0.21" />
        <param name="control_vz_max" value="700" />
        <param name="control_yaw" value="1.75" />
        <param name="detect_type" value="10" />
        <param name="enemy_colors" value="3" />
        <param name="detections_select_h" value="32" />
        <param name="detections_select_v_hsync" value="128" />
        <param name="enemy_without_shell" value="0" />
        <param name="ultrasound_freq" value="$(arg freq)" />
        <param name="realtime_navdata" value="true" />
        <param name="realtime_video" value="true" />
        <param name="tf_prefix" value="$(arg nspace)" />
      
        
        <!-- Covariance Values (3x3 matrices reshaped to 1x9)-->
        <rosparam param="cov/imu_la">[0.1, 0.0, 0.0, 0.0, 0.1, 0.0, 0.0, 0.0, 0.1]</rosparam>
        <rosparam param="cov/imu_av">[1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0]</rosparam>
        <rosparam param="cov/imu_or">[1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 100000.0]</rosparam>
    </node>

	
	<!-- <include file="$(find aruco_ros)/launch/marker_publisher.launch" >
		<arg name="camera_info_topic"		value="bottom/camera_info" />
		<arg name="image_topic"				value="ardrone/bottom/image_raw" />
	</include> -->
	
	
	<node pkg="multi_ardrone_sim" type="aruco_localization" name="localization" output="screen">
		<param name="viconTopic" value="$(arg vicon_Topic_name)"/>
	</node> 
	
	<param name="Kz"        			value="0.002" />
	<param name="useVicon" 			value="true"/>
	<node pkg="multi_ardrone_sim"        type="altcontrol" 		name="Altitude_Control" 	output="screen"/>
		

	<node pkg="multi_ardrone_sim" type="potential_field" 	name="Potential_Field" 	output="screen"/> 
	
	<node pkg="multi_ardrone_sim" type="levy_controller"   name="Levy_Update" 	output="screen"/> 
	
  </group>  
</launch>

