<?xml version="1.0"?>

<launch>
	
	
	<param name="useGroundTruth"		value="vicon" />
	<param name="velx"					value="0.3" /> 	<!-- Forward velocity -->
	<param name="refAltitude"			    value="1400" />

	
	<!-- <param name="Alpha"	    		value="1" />		-->

	
	<!-- <param name="Kx"				value="0.01" />
	<param name="Ky"					value="0.2" /> -->	
	<param name="Kw"					value="1" />
	
	<param name="N"	    			value="1" />
	
    <arg name="argUseLevy"	    		value="true" />
	<arg name="argmiu"	    			value="1.4" />
	<arg name="argRunLength"	    	value="120" /> 	<!-- Run length in secs -->
	<arg name="argAlpha"	    		value="0" />		<!-- Alignment parameter. Set to zero to igonre-->	
	
	<param name="RunLength"	    value="$(arg argRunLength)" /> 	<!-- Run length in secs -->
	<param name="UseLevy"	    	value="$(arg argUseLevy)" />
	<param name="miu"	    		value="$(arg argmiu)" />
	<param name="Alpha"	    	value="$(arg argAlpha)" />     <!-- Alignment parameter. Set to zero to igonre-->
	
	<param name="Gamma"				value="5" />	
	<param name="Beta"				    value="0" />	

		
	<param name="radius"				value="2" /> 	<!-- Neighbourhood radius -->
	<param name="separation_radius"		value="1.7" /> 	<!-- Separation radius -->
	
	<!-- IMPORTANT -->
	<param name="run_no"				value="0"	/>	<!-- number of run with the same parameters-->
	<!--                         -->
	
	<rosparam command="load" 			file="$(find ardrone_autonomy)/config/limits.yaml" />	
	<rosparam command="load" 			file="$(find ardrone_autonomy)/config/namespaces.yaml" />	
	
    <node pkg="multi_ardrone_sim" type="reynolds" 	name="reynolds"  output="screen" />
	
	<include file="$(find ardrone_autonomy)/launch/ardrone.launch">
		  <arg name="drone-ip" 			value="192.168.10.101" />
		  <arg name="nspace" 			value="quadrotor0" />	
	</include> 

    <include file="$(find ardrone_autonomy)/launch/ardrone.launch">
		  <arg name="drone-ip" 			default="192.168.10.102" />
		  <arg name="nspace" 			default="quadrotor1" />	
	</include> 



</launch>
